@font-face{
  font-family:"Myriad Regular";
  src:url("fonts/myriad_regular.eot?#iefix");
  src:url("fonts/myriad_regular.eot?#iefix") format("eot"),url("fonts/myriad_regular.woff2") format("woff2"),url("fonts/myriad_regular.woff") format("woff"),url("fonts/myriad_regular.ttf") format("truetype"),url("fonts/myriad_regular.svg#myriad_regular") format("svg");
}

body {
  font-family: Myriad Regular;
  background-color: #fafafa;
}

.hidden {
  display: none;
}
.wrapper {
  height: 100%;
  width: 80%;
  margin: 0 auto;
}
.header {
  height: 16.2rem;
  background-color: white;
  border: none;
}

.raboLogo {
  margin: 1rem 0 2rem 3rem;
  height: 9.2rem;
  width: 8rem;
}
.headerColor {
  background: #009;
  padding: 0.4rem 0 0 3rem;
  height: 3.3rem;
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
}
.homeForm {
  width: 70%;
  float: left;
  color: #333;
  background-color: white;
  font-size: 1.8rem;
  font-weight: normal;
  margin: 2rem auto;
  padding: 2rem 3rem;
  box-shadow: 0 0 15px #aaa;
}

.searchImg {
  width: 30%;
  padding: 2rem;
  margin: auto;
}
.formHeader {
  color: #009;
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-size: 2.5rem;
}
.comp {
  margin-bottom: 2rem;
  line-height: 3rem;
}
.minComp {
  resize: none;
  margin-top: 0.5rem;
  width: 100%;
  line-height: 2.5rem;
}

input[type="radio"] {
  display:none;
}

input[type="radio"] + label {
  margin-right: 20px;
  font-weight: normal;
}

input[type="radio"] + label span {
  display:inline-block;
  width:17px;
  height:17px;
  margin:-1px 4px 0 0;
  vertical-align:middle;
  cursor:pointer;
  -moz-border-radius:  50%;
  border-radius:  50%;
}

input[type="radio"] + label span {
  background-color:#fff;
}

input[type="radio"]:checked + label span{
  background-color:#fd6400;
}

input[type="radio"] + label span,
input[type="radio"]:checked + label span {
  -webkit-transition:background-color 0.2s linear;
  -o-transition:background-color 0.2s linear;
  -moz-transition:background-color 0.2s linear;
  transition:background-color 0.2s linear;
  margin-right: 10px;
  border: solid 1px #fd6400;
}

.btn {
  width: 100%;
  background-color: #fd6400;
  border: 1px solid #fd6400;
  border-radius: 5px;
  font-size: 1.8rem;
  color: #fff;
}

.btn:hover {
  background-color: #fd6400;
  border: 1px solid #fd6400;
}

.showResults {
  display: block;
}

.results {
  display: none;
}

.resizeIcon {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

#minimizeBar {
  position: fixed;
  top:0px;
  right:0px;
  width:100%;
  height:20px;
  z-index: 100;
}

#visibleMinimizeBar {
  width:100%;
  height:19px;
  background-color: white;
  padding: 0px 5px 0px 0px;
  position:absolute;
  top:-19px;
}

#taWidgetContainer.fullsize {
  position: fixed;
  top:0px;
  right:0px;
  width:100%;
  height:100%;
  padding: 0px;
}

#taWidgetContainer {
  width: 100%;
  height: 70vh;
  display: block;
  padding: 0px;
}

.legend {
  color: #737373;
}

.legendIcon {
  width: 15px;
  height: 15px;
  background-size: contain;
  display: inline-block;
  background-repeat: no-repeat;
  margin-right: 5px;
}

.viewTable {
  cursor: pointer;
}

.legendIconEmpty {
  background-image: url('../images/green_box.png');
}

.legendIconMin {
  background-image: url('../images/green_down.png');
}

.legendIconMax {
  background-image: url('../images/green_up.png');
}

.problemArea textArea {
  height: 250px;
  width: 100%;
  resize: none;
}

.advanceEditArea {
  height: 250px;
}

.advanceEditArea textArea {
  height: 100%;
  width: 100%;
  resize: none;
}


#tablePlaceHolder table {
  border: 1px solid #ccc;
  width: 100%;
}
#tablePlaceHolder td, #tablePlaceHolder th {
  border:1px solid #D3D3D3;
}
#tablePlaceHolder td {
  padding: 2px;
}

#tablePlaceHolder th .legendIcon {
  float: left;
  width:  14px;
  height: 14px;
  padding-right: 5px;

}

#tablePlaceHolder th .legendIconMin {
  background-image: url('../images/down_arrow.png');
}
#tablePlaceHolder th .legendIconMax {
  background-image: url('../images/up_arrow.png');
}

#tablePlaceHolder th .legendIconNone {
  width: 0px;
  height: 0px;
}

#tablePlaceHolder tr.even {
  background-color: #e6f7fd;
}

#tablePlaceHolder tr {
  color: #004165;
}

#tablePlaceHolder tr.odd {
  background-color: white;
}

#tablePlaceHolder table th {
  color: #004165;
  background-color: #e3e4e6;
  padding: 2px 4px;
}

#tablePlaceHolder table th.minimize {
  color: #ffffff;
  background-color: #8bc53f;
}

#tablePlaceHolder table th.maximize {
  color: #ffffff;
  background-color: #8bc53f;
}
.result {
  height: 0px;
  overflow: hidden;
  visibility: hidden;
}
.informationIcon {
  padding-left: 5px;
}

.maxSize {
  width: 100% !important;
  height: 100% !important;
}

.errorMsg {
  font-weight:bold;
  color:red;
  white-space: pre-wrap;
}

html.noScroll {
  overflow: hidden;
}

.decisionArea {
  z-index: 30;
}