body {
  font-family: Myriad Regular,Verdana,Sans Serif;
  background-color: #fafafa;
}
.wrapper {
  height: 100%;
  margin: 0 auto;
}
.header {
  margin: 2px 15.1rem 3rem 23rem;
  padding-top: 2rem;
  height: 16.2rem;
  background-color: white;
  border: none;
  position: relative;
}
.headerTitle {
  font-size:3rem;
}

.headerText {
  text-align: center;
  padding-top: 1.7rem;
}
.headerDesc {
  color: #0000ff;
  font-size: 3.6rem;
  font-weight: bolder;
}
.raboLogo {
  margin-left: 4rem;
  margin-bottom: 2rem;
  height: 9.2rem;
  width: 8rem;
}
.headerColor {
  background: #009;
  padding: 0.5rem 0 0 2rem;
  height: 3.3rem;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
}
.homeForm {
  color: #A0A0A0;
  background-color: white;
  font-size: 1.8rem;
  font-weight: normal;
  max-width: 60rem;
  margin: 0 auto;
  padding: 2rem;
  margin: 0 10rem 2rem 23rem;
  box-shadow: 0 0 15px #aaa;
}
.formHeader {
  color: #fd6400;
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-size: 2rem;
}
.comp {
  margin-bottom: 2rem;
  line-height: 3rem;
}
.minComp {
  margin-top: 0.5rem;
  /*font-family: "Open Sans",Arial,"Lucida Grande",sans-serif;*/
  font-size: 1.5rem;
  color: #A0A0A0;
}

.primary {
  margin-left:2rem;
}

.secondary {
  margin-left: 11rem;
}

input[type="radio"], input[type="checkbox"] {
  margin: 4px 8px 0;
}

.compBtn {
  text-align: center;
}

.btn {
  border-radius: 0.5rem;
  font-size: 1.6rem;
  background-color: #fd6400;
  border: 1px solid #fd6400;
  color: #fff;
}

.showResults {
  display: block;
}

.results {
  display: none;
}

.resizeIcon {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

#minimizeBar {
  position: fixed;
  top:0px;
  right:0px;
  width:100%;
  height:20px;
  z-index: 100;
}

#visibleMinimizeBar {
  width:100%;
  height:19px;
  background-color: white;
  padding: 0px 5px 0px 0px;
/*   display:none; */
  position:absolute;
  top:-19px;
}

#taWidgetContainer.fullsize {
  position: fixed;
  top:0px;
  right:0px;
  width:100%;
  height:100%;
  padding: 0px;
}

#taWidgetContainer {
  width: 100%;
  height: 70vh;
  display: block;
  padding: 0px;
}

.legend {
  color: #737373;
}

.legendIcon {
  width: 15px;
  height: 15px;
  background-size: contain;
  display: inline-block;
  background-repeat: no-repeat;
  margin-right: 5px;
}

.viewTable {
  cursor: pointer;
}

.legendIconEmpty {
  background-image: url('../images/green_box.png');
}

.legendIconMin {
  background-image: url('../images/green_down.png');
}

.legendIconMax {
  background-image: url('../images/green_up.png');
}

.problemArea textArea {
  height: 250px;
  width: 100%;
  resize: none;
  /*font-family: courier;*/
}

.advanceEditArea {
  height: 250px;
}

.advanceEditArea textArea {
  height: 100%;
  width: 100%;
  resize: none;
 /* font-family: courier;*/
}


#tablePlaceHolder table {
  border: 1px solid #ccc;
  height: 100%;
  width: 100%;
}
#tablePlaceHolder td, #tablePlaceHolder th {
  border:1px solid #D3D3D3;
}
#tablePlaceHolder td {
  padding: 2px;
}

#tablePlaceHolder th .legendIcon {
  float: left;
  width:  14px;
  height: 14px;
  padding-right: 5px;

}

#tablePlaceHolder th .legendIconMin {
  background-image: url('../images/down_arrow.png');
}
#tablePlaceHolder th .legendIconMax {
  background-image: url('../images/up_arrow.png');
}

#tablePlaceHolder th .legendIconNone {
  width: 0px;
  height: 0px;
}

#tablePlaceHolder tr.even {
  background-color: #e6f7fd;
}

#tablePlaceHolder tr {
  color: #004165;
}

#tablePlaceHolder tr.odd {
  background-color: white;
}

#tablePlaceHolder table th {
  color: #004165;
  background-color: #e3e4e6;
  padding: 2px 4px;
}

#tablePlaceHolder table th.minimize {
  color: #ffffff;
  background-color: #8bc53f;
}

#tablePlaceHolder table th.maximize {
  color: #ffffff;
  background-color: #8bc53f;
}
.result {
  height: 0px;
  overflow: hidden;
  visibility: hidden;
}
.informationIcon {
  padding-left: 5px;
}

.maxSize {
  width: 100% !important;
  height: 100% !important;
}

.errorMsg {
  font-weight:bold;
  color:red;
  white-space: pre-wrap;
}

html.noScroll {
  overflow: hidden;
}

.decisionArea {
  z-index: -1;
}